<table border="0" cellpadding="0" cellspacing="0" width="600"
	style="background-color:#ffffff;border:1px solid #dedede;border-radius:3px">
	<tbody>
		<tr>
			<td align="center" valign="top">

				<table border="0" cellpadding="0" cellspacing="0" width="100%"
					style="background-color: #f80438; color: #ffffff; border-bottom: 0; font-weight: bold; line-height: 100%; vertical-align: middle; font-family: 'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif; border-radius: 3px 3px 0 0">
					<tbody>
						<tr>
							<td style="padding:36px 48px;display:block">
								<h1
									style="font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;font-size:30px;font-weight:300;line-height:150%;margin:0;text-align:left;color:#ffffff;background-color:inherit">
									Thank you for shopping with us!</h1>
							</td>
						</tr>
					</tbody>
				</table>

			</td>
		</tr>
		<tr>
			<td align="center" valign="top">

				<table border="0" cellpadding="0" cellspacing="0" width="600">
					<tbody>
						<tr>
							<td valign="top" style="background-color:#ffffff">

								<table border="0" cellpadding="20" cellspacing="0" width="100%">
									<tbody>
										<tr>
											<td valign="top" style="padding:48px 48px 32px">
												<div
													style="color: #636363; font-family: 'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif; font-size: 14px; line-height: 150%; text-align: left ">

													<p style="margin:0 0 16px">Hi {{CustomerName}},</p>
													<p style="margin:0 0 16px">Thank you so much for your order! Hope you enjoy your new purcharse!
													 <!--Đơn hàng sẽ bị tạm giữ cho đến khi chúng tôi xác nhận thanh toán hoàn thành. Trong
														thời gian chờ đợi, đây là lời nhắc về những gì bạn đã đặt hàng:-->
													</p>
													<p style="margin:0 0 16px">
														At BVSneaker Store, we are committed to providing you with a quality customer experience. We sincerely appreciate your business and look forward to serving you again soon!

														Your order has been confirmed.

														Once we receive confirmation from the post office, we will process your shipment within 1-3 business days.

														If the item is sent back to us due to an incorrect address, the shipping costs will be refunded and you will be required to pay for the re-shipping fee.
													</p>


													<h2
														style="color: #f80438; display: block; font-family: 'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif; font-size: 18px; font-weight: bold; line-height: 130%; margin: 0 0 18px; text-align: left">
														[Order #{{OrderID}}] ({{PlaceOrderDate}})</h2>

													<div style="margin-bottom:40px">
														<table cellspacing="0" cellpadding="6" border="1"
															style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;width:100%;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif">
															<thead>
																<tr>
																	<th scope="col"
																		style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
																		Product(s)</th>
																	<th scope="col"
																		style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
																		Quantity</th>
																	<th scope="col"
																		style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
																		Price</th>
																</tr>
															</thead>
															<tbody>
																{{Product}}
																<!--<tr>
																	<td
																		style="color:#636363;border:1px solid #e5e5e5;padding:12px;text-align:left;vertical-align:middle;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;word-wrap:break-word">
																		Nước uống Đông Trùng Hạ Thảo </td>
																	<td
																		style="color:#636363;border:1px solid #e5e5e5;padding:12px;text-align:left;vertical-align:middle;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif">
																		1 </td>
																	<td
																		style="color:#636363;border:1px solid #e5e5e5;padding:12px;text-align:left;vertical-align:middle;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif">
																		<span>1.499.000&nbsp;<span>₫</span></span>
																	</td>
																</tr>-->

															</tbody>
															<tfoot>
																<tr>
																	<th scope="row" colspan="2"
																		style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left;border-top-width:4px">
																		Sub Total:</th>
																	<td
																		style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left;border-top-width:4px">
																		<span><span>$</span>{{Total}}</span>
																	</td>
																</tr>
																<!--<tr>
																	<th scope="row" colspan="2"
																		style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
																		Phương thức thanh toán:</th>
																	<td
																		style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
																		Chuyển khoản ngân hàng</td>
																</tr>-->
																<tr>
																	<th scope="row" colspan="2"
																		style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
																		Total:</th>
																	<td
																		style="color:#636363;border:1px solid #e5e5e5;vertical-align:middle;padding:12px;text-align:left">
																		<span><span>$</span>{{TotalAmount}}</span>
																	</td>
																</tr>
															</tfoot>
														</table>
													</div>


													<table cellspacing="0" cellpadding="0" border="0"
														style="width:100%;vertical-align:top;margin-bottom:40px;padding:0">
														<tbody>
															<tr>
																<td valign="top" width="50%"
																	style="text-align:left;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;border:0;padding:0">
																	<h2
																		style="color: #f80438; display: block; font-family: 'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif; font-size: 18px; font-weight: bold; line-height: 130%; margin: 0 0 18px; text-align: left">
																		Personal information</h2>

																	<address
																		style="padding:12px;color:#636363;border:1px solid #e5e5e5">
																		{{CustomerName}}<br>{{Address}} <br><a href="tel:{{Phone}}"
																			style="color: #f80438; font-weight: normal; text-decoration: underline"
																			target="_blank">{{Phone}}</a> <br><a
																			href="mailto:{{Email}}"
																			target="_blank">{{Email}}</a>
																	</address>
																</td>
															</tr>
														</tbody>
													</table>
													<p style="margin:0 0 16px">Your order is being processed</p>
												</div>
											</td>
										</tr>
									</tbody>
								</table>

							</td>
						</tr>
					</tbody>
				</table>

			</td>
		</tr>
	</tbody>
</table>