
@{
    ViewBag.Title = "Admin Home";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Home" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Menu" class="nav-link">Menu</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Advertisement" class="nav-link">Advertisement</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Brand" class="nav-link">Brand</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Category" class="nav-link">Categories</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Topic" class="nav-link">Topic</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Order" class="nav-link">Order</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Product" class="nav-link">Product</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Role" class="nav-link">Role</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Admin/Account" class="nav-link">Account</a>
        </li>
    </ul>
}
<!-- Content Header (Page header) -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <img style="width:1250px" src="~/Uploads/images/admin_Home.png" />
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
