@model PagedList.PagedList<BVSneaker.Models.EF.Blog>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
}

<section class="section" style="margin-top:150px !important">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-list clearfix">
                        @if (Model != null && Model.Any())
                        {
                            var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;
                            foreach (var item in Model)
                            {
                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="blog/detail/@item.Blog_Id" title="">
                                                <img src="@item.CoverImage" alt="" class="img-fluid">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">
                                        <h4><a href="blog/detail/@item.Blog_Id" title="" style="color: black;"><b>@item.Title</b></a></h4>
                                        <p maxlength="20">@item.Description</p>
                                        <span>17 June, 2023</span>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">
                            }
                        }

                    </div><!-- end blog-list -->
                </div><!-- end page-wrapper -->

                <hr class="invis">

                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-start">
                                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                            </ul>
                        </nav>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->

        </div><!-- end row -->
    </div><!-- end container -->
</section>

